{% load static %}
{% load tags %}
<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>
        Encryptly -
        {% block title_block %}
        {% endblock %}
    </title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css">


    <link href="{% static "css/encryptly.css" %}" rel="stylesheet">

    {% if DEBUG %}
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=2"></' + 'script>')</script>
    {% endif %}
</head>

<body>
<script src="{% static "js/jquery-3.1.1.js" %}"></script>
<script src="{% static "js/tether.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<div class="wrapper">


    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Encryptly</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% active_handler "index" %}">
                    <a class="nav-link" href="{% url "index" %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% active_handler "about" %}">
                    <a class="nav-link" href="{% url "about" %}">About</a>
                </li>
                <li class="nav-item {% active_handler "faq" %}">
                    <a class="nav-link" href="{% url "faq" %}">FAQ</a>
                </li>
                <li class="nav-item {% active_handler "contact" %}">
                    <a class="nav-link" href="{% url "contact" %}">Contact</a>
                </li>
                {% comment %}<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>{% endcomment %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item {% active_handler "login" %}">
                    <a class="nav-link" href="{% url "login" %}">Login</a>
                </li>
                <li class="nav-item {% active_handler "register" %}">
                    <a class="nav-link" href="{% url "register" %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block body_block %}



    {% endblock %}
    <div class="push"></div>
</div>

{% block footer %}
{% endblock %}

</body>

</html>