{% extends 'encryptly_backend/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}


{% block body_block %}

    <div class="container exhibit">

        <div class="row exhibit">
            <div class="col-xl-6">
                <div class="login">
                    <p class="encryptly-header">Encryptly</p>
                    <p class="encryptly-sub">Secure messaging for the masses</p>
                    <form id="login_form" method="post" action="{% url 'user_login' %}">
                        {% csrf_token %}
                        <input type="text" name="username" value="" size="50" class="default-form form-control" title="Username" placeholder="Username"/>
                        <input type="password" name="password" value="" size="50" class="default-form form-control" title="Password" placeholder="Password"/>
                        <input type="text" name="decrpytionkey" value="" size="50" class="default-form form-control" title="Decryption key" placeholder="Decryption key"/>
                        <button class="btn btn-default default-form" type="submit">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 desktop-only">
                <img class="image-impress" src="{% static "img/frontpage.png" %}"/>
            </div>
        </div>
        <div class="row exhibit">
            <div class="col-xl-3 feature">
                <i class="fa fa-4x fa-lock" aria-hidden="true"></i>
                <p>End-to-end encryption with AES &amp; RSA</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid, animi corporis dicta eveniet impedit ipsam laborum nam, neque non officia pariatur perferendis possimus quam quod rerum vel voluptas voluptatibus?</p>
            </div>
            <div class="col-xl-3 feature">
                <i class="fa fa-4x fa-key" aria-hidden="true"></i>
                <p>Encryption keys stay on client</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae cumque dolor doloribus, expedita fuga impedit in nesciunt quasi rerum sit suscipit temporibus voluptatum. Fugiat minus nobis officia possimus unde?</p>
            </div>
            <div class="col-xl-3 feature">
                <i class="fa fa-4x fa-code-fork" aria-hidden="true"></i>

                <p>Free and open source, forever</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur laborum rem sequi veniam. Aliquid, culpa delectus doloribus dolorum ea earum eligendi, et, impedit labore necessitatibus officia praesentium repellendus ut!</p>
            </div>
            <div class="col-xl-3 feature">
                <i class="fa fa-4x fa-ban" aria-hidden="true"></i>
                <p>No e-mail or phone number required</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur dicta eius eligendi eos, pariatur placeat quae quas similique voluptate. Aliquid debitis ducimus facilis ipsa maxime minima optio, rerum sit.</p>
            </div>

        </div>
    </div>

{% endblock %}