{% extends "encryptly_backend/base.html" %}



{% block footer %}

<footer>

    <div class="container">
        <div class="row">
            <div class="col-footer col-md-4">
                <span class="copyright">Copyright © Encryptly 2017</span>
            </div>
            <div class="col-footer col-md-4">
                <a href="#">Privacy Policy</a>
            </div>
            <div class="col-footer col-md-4">
                <a href="#">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>


{% endblock %}