<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

</head>
<body>

<h2>{{ user.username }}</h2>
<h4 id='ccw'>Currently chatting with: Nobody</h4>
<div id="friends" style="height:500px; width: 230px; background-color:aliceblue; ">

</div>
<div id="chat"
     style="width: 500px; height: 500px; overflow-y:scroll; background-color: aliceblue; transform: translate(250px, -500px); margin: 0 100px 0 auto; display:block; float: left">

</div>
<br/>
<input id="message" style="width: 442px" title="Your message:" placeholder="Your message"/>
<button type="button" id="submit">Send</button>


<br/>
<br/>
<input id="friendName" style="width: 442px" title="Your message:" placeholder="Add friend"/>
<button type="button" id="addFriend">Add</button>


<script type="text/javascript">
    var socket = null;
    var conversations = {};
    var targetUsers = [];
    var targetConversation = null;

    socket = new WebSocket("ws://" + window.location.host + "/");

    socket.onopen = function () {
        socketSend({"intent": "get_conversations"})
    };

    function socketSend(data) {
        if (socket.readyState == WebSocket.OPEN) {
            socket.send(JSON.stringify(data));
        }
    }

    $('#submit').click(function () {
        var messageElement = $('#message');
        if (targetConversation != null) {
            socketSend({"intent": "send_message", "content": messageElement.val(), "username": targetUser});
        }

        messageElement.val("");
    });

    $('#addFriend').click(function () {
        socketSend({"intent": "add_friend", "username": $('#friendName').val()});
    });


    socket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        if (data['error'] != null) {
            alert("Request failed: " + data['error']);
            return;
        }
        console.log(data);
        if (data['intent'] == "get_conversations") {
            conversations = {};
            data['conversations'].forEach(function (element) {
                element.users = element.users.filter(function(item) {return item !== "{{ user.username }}"});
                $('#friends').append("<a class='conversation' data-conversation='" + element.id + "' href='#' data-users='"+ element.users.join(",") +"'>Chat with: " + element.users.join(", ") + "</a><br />");
            });

            data['remaining_friends'].forEach(function (element) {
                $('#friends').append("<a class='friend' href='#' data-users='" + element + "'>Friend: " + element + "</a><br />");
            });

            setConversationEvents();
        } else if (data['intent'] == "get_messages") {
            console.log(data);

        } else if (data['intent'] == "add_friend" && data['success'] == true) {
            socketSend({"intent": "get_conversations"})
        }
    };


    function setConversationEvents() {

            $('.conversation').click(function () {
                var conversation_id =$(this).data("conversation");
                if (conversation_id in conversations) {


                } else {
                    socketSend({"intent": "get_messages", "conversation": conversation_id})
                }

            });

            $('.friend').click(function () {
                $("#chat").html("");
                targetUsers = $(this).data("users").split(", ");
                $("#ccw").text("Currently chatting with: " + targetUsers.join(", "));
            });
    }

</script>
</body>
</html>