<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

</head>
<body>
<div id="conversations">

</div>
<div id="chat" style="width: 500px; height: 500px; overflow-y:scroll; background-color: aliceblue">

</div>
<br/>
<input id="message" style="width: 442px" title="Your message:" placeholder="Your message"/>
<button type="button" id="submit">Send</button>


<br/>
<br/>

<div id="friends" style="width: 100px; height: 500px;">
    <input id="friendName" style="width: 442px" title="Your message:" placeholder="Add friend"/>
    <button type="button" id="addFriend">Add</button>


</div>

<script type="text/javascript">
    var socket = null;

    socket = new WebSocket("ws://" + window.location.host + "/");
    socket.onmessage = function (e) {
        $('#chat').append("<p>" + e.data + "</p>");
    };
    socket.onopen = function () {
        alert("Connected to socketserver");
    };


    function socketSend(data) {
        if (socket.readyState == WebSocket.OPEN) {
            socket.send(data);
        }
    }

    $('#submit').click(function () {
        var messageElement = $('#message');
        socketSend(messageElement.val());
        messageElement.val("");
    });

    $('#addFriend').click(function () {
        socketSend(JSON.stringify({"intent": "friend_request", "username": $('#friendName').val()}));
    });



</script>
</body>
</html>