{# Allows the user to delete their profile #}
{% extends 'encryptly_backend/public/public_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Delete Profile
{% endblock %}

{% block body_block %}
	<div class='container exhibit'>
		<h1>Confirm Delete</h1>
		<form method='POST' action=".">{% csrf_token %}
			<p>Are you sure you want to delete your profile: {{ prof.user }}?</p>
			<input class="btn btn-default" type='submit' value='Confirm'>
			<a class="btn btn-default" href="{% url 'profile' %}">Cancel</a>
		</form>	
	</div>
{% endblock %}
