{% extends 'encryptly_backend/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Themes
{% endblock %}

{% block body_block %}
    <h1>This is the themes page!</h1>
    <div class="btn-group" role="group" aria-label="...">
      <button id="theme_def"type="button" class="btn btn-default">Default</button>
      <button id="theme_dark" type="button" class="btn btn-default">Dark</button>
      <button type="button" class="btn btn-default">*new theme ideas pls*</button>
    </div>
<script src="{% static "js/encryptly_themes.js" %}"></script>
{% endblock %}
