{# Provides ability for user to contact admins #}
{% extends 'encryptly_backend/public/public_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
    <div class="container exhibit">

        <div class="row exhibit">
            <div class="col-lg-12">
                <h1 class="page-header">Contact us</h1>


                <form id="contact_form" method="POST" action="{% url 'contact' %}">
                    {% include "encryptly_backend/sub_templates/form_messages.html" %}
                    {% csrf_token %}
                    {{ contact_form.as_p }}
                    <button class="btn btn-outline-primary" type="submit">Send</button>
                </form>
            </div>

        </div>


    </div>

{% endblock %}