{# Allows for user registration, provides functionality to enter username and password, decryption key, validation, etc. #}
{% extends 'encryptly_backend/public/public_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}

    <div class="container exhibit">

        <div class="card card-form">
            <div class="card-header">
                Register
            </div>
            <div class="card-block">
                <form id="register_form" method="post" action="{% url 'register' %}" data-validate="parsley">
                    {% include "encryptly_backend/sub_templates/form_messages.html" %}
                    <fieldset>
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        <p>
                            <input type="password" id="decryption-key" size="50" class="form-control" title="Decryption key" placeholder="Decryption key" name="decryption-key" required/>
                        </p>
                        <p>
                            <input type="password" id="decryption-key-confirm" data-parsley-equalto="#decryption-key" size="50" class="form-control" title="Confirm Decryption key" name="decryption-key-confirm" placeholder="Confirm Decryption key" required/>
                        </p>

                        {% for field in profile_form.visible_fields %}
                            <p>
                                {{ field }} {{ field.label }}
                            </p>
                        {% endfor %}
                    </fieldset>
                    <button id="register-next" class="btn btn-outline-primary pull-right" type="button">Register</button>
                </form>
                <div class="key-generation text-center">
                    <p>Now generating a unique RSA-4096 keypair</p>
                    <div class="loader"></div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block public_scripts %}
    {% include "encryptly_backend/sub_templates/crypto_scripts.html" %}
    <script src="{% static "js/encryptly_register.js" %}"></script>
{% endblock %}